<%- include('partials/header'); -%>

<h1>Current Mars Weather</h1>

<p>It's currently Sol <%= data.solDay %> on Mars and the average Air Temperature is <%= data.fh %> degrees Fahrenheit.</p>

<%- include('partials/footer') -%>


<!-- <p>It's currently Sol <%= marsWeather.sol_keys[sol_keys.length - 1] %> on Mars and the average Air Temperature is <%= cToF(marsWeather.sol_keys[sol_keys.length - 1].AT.av) %>.</p> -->